/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

.html {
    min-width: 1000px;
    max-width: 1440px;
    margin: auto;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    
}

a:any-link {
    color: black;
    text-decoration-line:none;
    cursor: auto;
}

.fa-solid {
    color: var(--main-color);
}


body {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main {
    padding: 0px 15px 0px 15px;
    
}


.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)

}

/****** HEADER ***********/
.header {
    display: flex;
    justify-content: space-between;
    
}

.header-logo {
    width: 61.09px;
    height: 19px;
    padding: 30px;
    padding-left: 30px;
}

.header-navigation {
    display: flex;
    align-items: center;
    
}

.header-navigation-link {
    
    padding: 29px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    text-align:start
}

.header-navigation a:hover {
    color: #0065FC;;
    border-top: #0065FC 2px solid;
}

/****** INFO-GROUP ***********/
.info-group {
    padding: 0px 5px 0px 5px;

}

.search-header {
    display: flex;
    flex-direction: column;
    
}

.search-header-title {
    margin: 0px;
    
}

.search-header-subtitle {
    padding-bottom: 10px;
}

/****** INFO-GROUP-FORM ***********/

.form {
    display: flex;
    justify-content: flex-start;
    
    }
    
.form-icon {
    display: flex;
    justify-content: flex-start;
    
    width: 52px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    }
    
.fa-location-dot {
    padding: 20px;
    justify-content: center;
    color: black;
    }
    
.form-search {
    display: flex;
    justify-content: center;
    border: 1px solid #F2F2F2;
    margin-right: -10px;
    width: 350px;
    font-size: 17px;
    text-align: center;
    align-items: center;

    }

::placeholder {
        color:black;
        text-align: center;
        
        
    }


.form-search:focus {
    border: 2px solid #F2F2F2;
    outline: none;
    
    }
    
.form-submit {
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    width: 200px;
    font-size: 17px;
    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    }
    

.submit-text-icon {
    font-size: 0;
    }

/****** INFO-GROUP-FILTERS ***********/


.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}

.filters-title {
    padding-right: 15px;
    font-size: 18px;
    font-weight: bold;
}

.filters-search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 25px;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin: 20px 15px 15px 15px;
    font-size: 16px;
    font-weight: bold;
    transition: transform 250ms ease-in-out;
}

.filters-search:hover{
    background-color:#DEEBFF;
    
}

i.fa-solid.filters-search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}


.filters-results {
    display: flex;

}

.filters-results-icon {
    display: flex;
    align-items: center;
    padding-right: 10px;
}




/****** Hebergements ***********/

.hosting {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
   
}

.hosting-background {
background-color: #F2F2F2;
border: 1px solid #F2F2F2;
border-radius: 20px;

}

.hosting-title, .hosting-popular-header-icon {
    margin: 30px 30px 15px 30px;
    font-size: 22px;
}

.hosting-card {
    padding: 5px;
    margin: 15px 5px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
}

.hosting-card-fig {
    margin: 0px;
}

.hosting-card-fig-img {
    object-fit: cover;
}

.hosting-card-fig-caption {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 5px;
}

.hosting-card-fig-caption-title {
    font-size: 16px;
}

.hosting-card-form {
    font-size: 14px;
}

.hosting-card-fig-caption-title, .hosting-card-form {
    margin: 0px;
    padding-left: 5px;
}


/***** HOSTING MAIN ******/

.hosting-main {
    margin: 20px 15px 20px 0px;
    flex: 2;
}

.hosting-main-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hosting-main-card {
    width: 29%;
    height: auto;
}
.hosting-main-card-fig-img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 135px;
}

.hosting-main-card-footer {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.hosting_main_card_footer_link:hover {
    color: #0065FC;
    text-decoration: underline;
}


/****** POPULAR ***********/

.hosting-popular {
    margin: 20px 0px 20px 0px;
    padding-bottom: 15px;
    flex: 1;

}

.hosting-popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hosting-popular-header-icon {
    font-size: 20px;
}

.hosting-popular-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hosting-popular-card {
    width: 90%;
    height: auto;
}

.hosting-popular-card-fig {
    display: flex;
}

.hosting-popular-card-fig-img {
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    min-width: 40%;
    height: 145px;
}


/****** ACTIVITY ***********/

.activity {
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
}

.activity-header {
    margin: 30px 0px 0px 10px;
}

.activity-header-title {
    font-size: 20px;
}

.activity-cards {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-around;
    height: 600px;
}

.activity-card {
    border-radius: 20px;
    margin: 5px;
    width: 23%;
    height: auto;
    box-shadow: 0 0 16px #0000001f;
    overflow: hidden;
    
}


.activity-card-fig {
    margin: 0px;
}

.activity-card-fig-img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.activity-card-fig-caption {
    margin: 20px;
}

.activity-card-fig-caption-title {
    font-size: 16px;
}

.activity-card-fig-img-large {
    height: 439px;
}


/****** FOOTER ***********/

.footer {
    background-color: #F2F2F2;
    margin-top: 55px;
    padding-top: 10px;

}

.footer-contenairs {
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    padding-left: 20px;

}

.footer-block {

padding: 5px 0px 5px 0px;

}



.footer-block-list {
    padding: 0%;
    list-style: none;
    line-height: 30px;

}    


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hosting {
        flex-direction: column;
    }

    .hosting {
        width: 100%;
    }

    .hosting-popular-cards {
        flex-direction: row;
    }

    .hosting-popular-card {
        width: 30%;
    }
   
    .activity {

        margin: 0px;
    }

    .activity-cards {
        height: 270px;

    }
    
    .activity-card {
        height: 270px;
    }

    
    .activity-card-fig-img {
        height: 200px;
    }

    .activity-card-fig {
        height: 270px;
    }

    .activity-card-fig-caption {
        margin-top: 16px;
        
        
    }

}   

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .html {
        margin: 0;
    }

    body {
        margin: 0;
    } 

    .header {
        flex-direction: column;
        justify-content: center;
    }

    .header-logo {
        margin: auto;
        padding-top: 30px;
    }

    .header-navigation {
        justify-content: space-between;
        padding: 0px;
    }

    .header-navigation-link {
        font-size: 16px;
        color: #333;
        text-decoration: none;
       
    }

    .header-navigation-link:hover {
    
        border-bottom: #0065FC 3px solid;
    }

    .header-navigation a:hover {
        border-top: none;
    }
    

/****
    <button class="form-submit">
    <span class="form-submit-text">Rechercher</span>
    <i class="fa-solid fa-magnifying-glass submit-text-icon"></i>
  </button>
    ***/

    .form-submit {
        border-radius: 15px;
        width: 100%;
    }

    .form-submit-text {
        display: none;
    }

    .submit-text-icon {
        font-size: 20px;
        color: white;
        padding-left: 16px;
        padding-right: 16px;
    }


    .filters {
        margin: 5px 0px 10px 0px;

    }

    .filters-title {
        width: 100%;
        font-size: 18px;
       
    }

    .filters-search {
        width: 170px;
        
      
    }

    .hosting {
        flex-direction: column-reverse;
    }

    .hosting-background {
        border-radius: 0px;
 
    }






    

    .footer-contenairs {
        flex-direction: column;

    }








}